:root {
    --Principal: #3A81A7;
    --PrincipalOscuro: #1f4f69; 
    --Titles: hsl(210, 10%, 33%);
    --P: hsl(180, 3%, 14%);
    --BlueDark: #164357;
    --Footer: rgb(36, 36, 36);
    --White: #fff;
    --Black: #000;
    --Gray: #bebebe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

details {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem 1.8rem;
    border: .5px solid rgb(218, 218, 218);
    border-radius: .5rem;
    cursor: pointer;
}


.details-content {
    display: grid;
    gap: 1rem;
    margin: 2.5rem auto;
}

.details-content div span {
    font-weight: 900;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 2rem;
    color: var(--BlueDark);
}

summary svg {
    margin-right: .3rem;
}

.map-article-div {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.arrow {
    rotate: 180deg;
    color: var(--BlueDark);
}

/* MOBILE */

.acordeon-h2 {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.links_dektops li a {
    color: var(--Principal);
    border-bottom: 2px solid var(--Principal);
}

.main-faq .header-cont {
    display: grid;
    text-align: center;
    max-width: 70rem;
    gap: 3rem;
    padding: 0 2rem;
    margin: 0 auto;
    margin-top: 2rem;
    background: var(--White);
}

header h1 {
    text-align: center;
    font-size: 5rem;
    color: var(--BlueDark);
}

.header-cont span {
    font-size: 2rem;
    font-weight: 600;
    color: red;
}

.header-cont p {
    font-size: 2rem;
    font-weight: 400;
    color: rgb(58, 58, 58);
}


/* FAQS */

.acordeon-contenedor {
    display: grid;
    margin: 3rem auto;
    max-width: 80rem;
}


.acordeon-contenedor h2 {
    font-weight: 200;
    font-size: 1.8rem;
    margin: 3rem .5rem;
    color: rgb(150, 150, 150);
}

/* TABLETS AND DEKTOPS */

@media screen and (min-width: 30rem) {
    .acordeon-contenedor {
        width: 90%;
    }
}
