:root {
    --PrincipalOscuro: #1f4f69; 
    --Titles: hsl(210, 10%, 33%);
    --P: hsl(180, 3%, 14%);
    --BlueDark: #164357;
    --Footer: rgb(36, 36, 36);
    --White: #fff;
    --Black: #000;
    --Gray: #bebebe;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.6rem;
    width: 100%;
    background: white;
}

h1,
h2,
.h3,
.h4 {
    color: var(--Titles);
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

p {
    color: var(--P);
    opacity: .7;
    line-height: 1.5;
}

img {
    object-fit: cover;
    width: 100%;
}

main {
    z-index: -50;
}

@view-transition {
    navigation: auto;
}

/* FLOAT */

.ws-float {
    display: block;
    text-align: center;
    position: fixed;
    z-index: 200;
    bottom: 2rem;
    right: 1.5rem;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    cursor: pointer;
    background: #25d366;
}

.ws-float:hover {
    transform: scale(1.05);
}

/* --------------------------------------------------------------------------------- */

.banner {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    background: var(--BlueDark);
}

/* NAVBAR */

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background: var(--White);
    box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.48);
}

nav h2 a, nav a {
    color: var(--PrincipalOscuro);
}

.faq-navbar:hover {
    text-decoration: underline;
}

/* HEADER */

header {
    padding: .7rem 2rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;
    padding: .7rem 0rem;
    padding-right: 3.5rem;
}

header h1 {
    font-size: 3.3rem;
}

header p {
    font-size: 1.8rem;
}

header .main-img {
    height: 20rem;
}

header p span, .servicios p span {
    font-weight:800;
}

.contacto-container {
    margin-top: 1rem;
}

.contacto {
    text-align: center;
    padding: .8rem 1.5rem;
    font-size: 1.4rem;
    max-width: 14rem;
    border-radius: 5px;
    color: var(--White);
    background-color: var(--PrincipalOscuro);
    transition: all ease-in;
    cursor: pointer;
}

.contacto:hover {
    background-color: var(--BlueDark);
}

/* MAP */

.map-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    margin: 2rem 0;
    padding: 2rem 0;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
}

.map-title h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.map-div span {
    font-weight: lighter;
    font-size: 1rem;
}

.map {
    border: none;
    height: 25rem;
}

.arrow {
    margin-left: .5rem;
}

/* SERVICIOS */

.servicios {
    display: grid;
    padding: 0 2rem;
    margin: 0 auto;
}

.servicios-title {
    display: grid;
    gap: 2rem;
    margin: 2rem auto;
    margin-bottom: 5rem;
    padding-right: 2rem;
}

.servicios-title p {
    font-size: 1.8rem;
    color: #474747;
}

.servicios-title-h2-cont hr {
    width: 8rem;
    height: .3rem;
    border: none;
    background: rgb(177, 40, 40);
}

.servicios-title h2 {
    font-size: 2.5rem;
}

.servicios-container {
    display: grid;
    gap: 3.5rem;
}

.servicios-container article {
    padding-bottom: 3.5rem;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.servicio {
    display: grid;
    grid-template-columns: 30px auto;
    gap: 1rem;
}

.servicio i {
    margin-top: 1.3rem;
}

.servicio-content span:first-of-type {
    font-size: 1.8rem;
    text-decoration: underline;
}

.servicio-content span {
    font-weight: 600;
}


/* FOOTER */

footer {
    display: grid;
    color: var(--White);
    background: var(--Footer);
}

.section-footer {
    display: grid;
    text-align: center;
    gap: 1.5rem;
    margin: 2.5rem auto 3rem;
    padding-bottom: 2rem;
}

.section-footer:nth-of-type(3) .description-footer {
    text-align: center;
}


.section-footer:nth-of-type(4) .description-footer {
    gap: 1rem;
}

.section-footer:nth-of-type(3) .description-footer a {
    text-decoration: underline;
    color: var(--White);
}

.section-footer h3 {
    font-size: 2.2rem;
    font-weight: 800;
}

.description-footer {
    display: grid;
    font-size: 1.35rem;
    font-weight: 200;
    gap: .6rem;
}

.servicios-footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.ubi-footer-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.chile {
    font-size: 1.3rem;
}

.pedroMontt, .chile {
        color: var(--White);
}

.contact-footer {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: 7rem;
}

.contact-footer a,
a[href^="tel:"] {
    color: var(--White);
    text-decoration: none;
}

.social-icons-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.social-icons-footer a svg {
    transition: all .3s ease;
}

.social-icons-footer a svg:hover {
    transform: scale(1.15);
}

.number_footer {
    color: var(--White);
}

/* MEDIAS QUERYS*/

@media screen and (width >= 500px) {
    
  /* SERVICIOS */
    .servicios {
        margin: 0 2rem;
    }

}

@media screen and (width >= 600px) {
    
  /* SERVICIOS */
    .servicios {
        margin: 0 5rem;
    }

}

@media screen and (width >= 670px) {

    /* Footer */
    footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (width >= 700px) {
    
  /* SERVICIOS */
    .servicios {
        margin: 0 7rem;
    }

}

@media screen and (width >= 780px) {
    
  /* SERVICIOS */
    .servicios {
    
        margin: 0 10rem;
    }

}

@media screen and (width >= 820px) {
    /*HEADER*/

    header {
        display: grid;
        grid-template-columns: .9fr 1fr;
        padding: 1rem 2rem;
        padding-right: 4rem;
        gap: 3rem;
    }

    header .main-img {
        height: 30rem;
        margin-top: 2rem;
    }

    .header-right {
        padding: .7rem 0rem;
        padding-right: .0;
        gap: 1rem;
    }

    /* MAP */
    .map-div {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        margin: 0 auto;
    }

    .map-title {
        text-align: start;
        font-size: 3rem;
        color: rgb(85, 85, 85);
        margin-left: 3rem;
    }

    .map-title h3 {
        font-size: 3rem;
        font-weight: bold;
    }

    .map-div span:last-of-type {
        font-size: 1.3rem;
    }

    .map-div span:last-of-type {
        font-size: 1.3rem;
    }

    .map {
        width: 40rem;
    }

    /* SERVICIOS */

    .servicios {
        margin: 0 12rem;
    }

    .servicios-title-h2-cont h2 {
        font-size: 3rem;
    }

    .servicio-content, .servicio-content span:first-of-type {
        font-size: 1.8rem;
    }

}

@media screen and (min-width: 900px) {
    
    /* SERVICIOS */
    .servicios {
        margin: 0 15rem;
    }

    .servicios-title-h2-cont h2 {
        font-size: 3rem;
    }

    .servicio-content, .servicio-content span:first-of-type {
        font-size: 1.8rem;
    }
}


@media screen and (min-width: 1060px) {
    
    /* SERVICIOS */
    .servicios {
        margin: 0 15rem;
    }
}

@media screen and (min-width: 1190px) {

    footer {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 1250px) {

    .ws-float {
        right: 2rem;
    }

}

@media screen and (min-width: 1300px) {

    footer {
        padding: 5rem 0;
        grid-template-columns: repeat(4, 1fr);
    }

      /* SERVICIOS */
    .servicios {
        margin: 0 20rem;
    }
}

@media screen and (min-width: 1500px) {


}
