:root {
    --PrincipalOscuro: #1f4f69; 
    --Titles: rgb(61, 61, 61);
    --P: hsl(180, 3%, 14%);
    --BlueDark: #164357;
    --Footer: rgb(36, 36, 36);
    --White: #fff;
    --Black: #000;
    --Gray: #bebebe;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.6rem;
    width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    color: var(--Titles);
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

p {
    color: var(--P);
    opacity: .7;
    line-height: 1.5;
}

img {
    object-fit: cover;
    width: 100%;
    image-rendering: auto;
}

main {
    z-index: -50;
}

@view-transition {
    navigation: auto;
}


/* FLOAT */

.ws-float {
    display: block;
    text-align: center;
    position: fixed;
    z-index: 200;
    bottom: .7rem;
    right: .7rem;
    width: 5.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
    border-radius: 50%;
    cursor: pointer;
    background: #25d366;
}

.ws-float:hover {
    transform: scale(1.05);
}

/* --------------------------------------------------------------------------------- */

.banner {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    background: var(--BlueDark);
}

/* NAVBAR */

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background: var(--White);
    box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.48);
}

nav h2 a, nav a {
    color: var(--PrincipalOscuro);
}

.faq-navbar:hover {
    text-decoration: underline;
}

/* HEADER */

.main-img {
    height: 20rem;
}

.header-content {
    display: grid;
    text-align: center;
    margin: 4rem auto;
    gap: 1.5rem;
    padding: 0 3rem;
}

.header-content h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--Titles);
}

header p span, .servicios p span {
    font-weight:800;
}

.contacto-container {
    margin-top: 1rem;
}

.contacto {
    text-align: center;
    padding: .8rem 1.5rem;
    font-size: 1.4rem;
    max-width: 14rem;
    border-radius: 5px;
    color: var(--White);
    background-color: var(--PrincipalOscuro);
    transition: all ease-in;
    cursor: pointer;
}

.contacto:hover {
    background-color: var(--BlueDark);
}

/* MAP */

.map-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    margin: 2rem 0;
    padding: 2rem 0;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.map-title h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.map-div span {
    font-weight: lighter;
    font-size: 1rem;
}

.map {
    border: none;
    height: 25rem;
}

.arrow {
    margin-left: .5rem;
}

/* SERVICIOS */

.servicios {
    display: grid;
    padding: 0 2rem;
    margin: 0 auto;
}

.servicios-title {
    display: grid;
    gap: 2rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding-right: 2rem;
}

.servicios-title p {
    font-size: 1.8rem;
    color: #474747;
}

.servicios-title-h2-cont hr {
    width: 8rem;
    height: .3rem;
    border: none;
    background: rgb(177, 40, 40);
}

.servicios-title h2 {
    font-size: 2.5rem;
}

.servicios-container {
    display: grid;
    gap: 3.5rem;
}

.servicios-container article {
    padding-bottom: 3.5rem;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.servicio {
    display: grid;
    grid-template-columns: 30px auto;
    gap: 1rem;
}

.servicio i {
    margin-top: 1.3rem;
}

.servicio-content span:first-of-type {
    font-size: 1.8rem;
    text-decoration: underline;
}

.servicio-content span {
    font-weight: 600;
}

.carrusel .slide img {
    height: 30rem;
}



/* FOOTER */

footer {
    color: var(--White);
    background: var(--Footer);
}

.footer-content {
    display: grid;
    border-bottom: .5px solid rgb(54, 54, 54);

}

.section-footer {
    display: grid;
    gap: 1.2rem;
    margin: 2rem 4rem;
    margin-bottom: 0;
    padding-bottom: 2rem;
    border-bottom: .5px solid rgb(73, 73, 73);
}

.section-footer.section-footer:nth-child(4) {
    border: none;
}

.section-footer h3 {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--White);
}

.section-footer span {
    font-size: 1.4rem;
    font-weight: 100;
}

.section-footer span a {
    color: var(--White);
}

.section-footer span a:hover {
    text-decoration: underline;
}

.contacto-flex {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.licencia {
    text-align: center;
    font-size: 1.3rem;
    padding: 3rem 0;
}

/* MEDIAS QUERYS*/

@media screen and (width >= 500px) {
    
  /* SERVICIOS */
    .servicios {
        margin: 0 2rem;
    }

}

@media screen and (width >= 550px) {
    
    .header-content {
        padding: 0 8rem;
    }

}

@media screen and (width >= 600px) {
    
  /* SERVICIOS */
    .servicios {
        margin: 0 5rem;
    }

}

@media screen and (width >= 650px) {
    
    .header-content {
        padding: 0 10rem;
    }

}


@media screen and (width >= 700px) {

    .header-content {
        padding: 0 11rem;
    }
    
  /* SERVICIOS */
    .servicios {
        margin: 0 7rem;
    }

    .footer-content {
        grid-template-columns: 1fr 1fr;
    }

    .section-footer:nth-child(3) {
        border: none;
    }

}

@media screen and (width >= 720px) {
    
    /* HEADER */
    
    header {
        position: relative;
        padding: 2rem 1rem;
        background: url('/Imágenes/slider-04.jpeg') center / cover no-repeat;
        overflow: hidden;
    }
    
    header::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad aquí */
        z-index: 1;
    }
    
    .header-content {
        position: relative;
        z-index: 2;
        padding: 0 3rem;
    }
    
    .header-content h1 {
        font-size: 6rem;
    }
    
    .header-content h1, header p, header p span {
        color: white;
        font-weight: 500;
    }

    header p {
        font-size: 1.7rem;
    }

    .main-img {
        display: none;
    }
    
    .contacto {
        padding: .8rem 1.5rem;
        font-size: 1.4rem;
        max-width: 14rem;
        border-radius: 5px;
        color: var(--White);
        background-color: var(--PrincipalOscuro);
        transition: all ease-in;
        cursor: pointer;
    }
    
    /* MAP */
    .map-div {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        margin: 0 auto;
    }
    
    .map-title {
        text-align: start;
        font-size: 3rem;
        margin-left: 3rem;
        color: rgb(85, 85, 85);
    }
    
    .map-title h3 {
        font-size: 3rem;
        font-weight: bold;
    }
    
    .map-div span:last-of-type {
        font-size: 1.3rem;
    }
    
    .map {
        width: 40rem;
    }
    
    /* SERVICIOS */
    
    .servicios {
        margin: 0 12rem;
    }
    
    .servicios-title-h2-cont h2 {
        font-size: 3rem;
    }
    
    .servicio-content, .servicio-content span:first-of-type {
        font-size: 1.8rem;
    }
    
}

@media screen and (width >= 743px) {
    
    .header-content p {
        font-size: 1.7rem;
        font-weight: 100;
    }
}


@media screen and (width >= 780px) {
    
  /* SERVICIOS */
    .servicios {
        margin: 0 10rem;
    }

}

@media screen and (width >= 900px) {
    
    /* HEADER */
    .header-content {
        padding: 3rem 0;
    }

    /* SERVICIOS */
    .servicios {
        margin: 0 15rem;
    }

    .servicios-title-h2-cont h2 {
        font-size: 3rem;
    }

    .servicio-content, .servicio-content span:first-of-type {
        font-size: 1.8rem;
    }

    /* FOOTER */
    .footer-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (width >= 942px) {
    
    .header-content h1 {
        font-size: 6.5rem;
        font-weight: bold;
    }

    .header-content p {
        margin-top: 1rem;
    }

}

@media screen and (width >= 983px) {
    
    .header-content {
        padding: 4rem 0rem;
    }

    .header-content p {
        font-size: 1.7rem;
    }
}

@media screen and (width >= 1000px) {
    
    .map-title h3 {
        font-size: 3.5rem;
    }
}

@media screen and (width >= 1060px) {
    
    /* SERVICIOS */
    .servicios {
        margin: 0 15rem;
    }
}

@media screen and (width >= 1100px) {
    
    .header-content {
        padding: 4rem 10rem;
    }

    .header-content p {
        font-size: 1.7rem;
    }
}



@media screen and (min-width: 1190px) {

    footer {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-footer:nth-child(3) {
        border-bottom: .5px solid rgb(73, 73, 73);
    }


    main {
        max-width: 70%;
        margin: 0 auto;
    }
}


@media screen and (min-width: 1250px) {

    .ws-float {
        right: 2rem;
    }
    
}

@media screen and (min-width: 1300px) {
    
    .footer-content {
        justify-items: center;
        padding: 2rem 0;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .section-footer {
        border: none;
    }

    .section-footer:nth-child(3) {
        border: none;
    }

      /* SERVICIOS */
    .servicios {
        margin: 0 10rem;
    }
    
}

@media screen and (width >= 1310px) {
    
    .header-content {
        padding: 4rem 15rem;
    }
}

@media screen and (width >= 1410px) {
    
    .header-content {
        padding: 4rem 20rem;
    }
}

@media screen and (width >= 1510px) {
    
    .header-content {
        padding: 6rem 25rem;
    }
}

@media screen and (width >= 1610px) {
    
    .header-content {
        padding: 6rem 30rem;
    }
}

@media screen and (width >= 1710px) {
    
    .header-content {
        padding: 10rem 40rem;
    }

    .header-content p {
        font-size: 2rem;
    }
}